@import url("fonts.css");
@import url("reset.css");
body {
  max-width: 830px;
  margin: 0 auto;
  margin-top: 50px;
  color: #7d7d7d;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 146.187%;
}
h1 {
  color: #37393f;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 127%;
  margin-bottom: 13px;
}
ol,
ul {
  font-weight: 500;
  margin-bottom: 35px;
  margin-left: 16px;
}
p {
  margin-bottom: 35px;
}
li {
  font-size: 0;
  padding-bottom: 26px;
}
.ellipse {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5.6px solid #7d7d7d;
  border-top: 5.6px solid #7d7d7d;
  border-radius: 100%;
  margin-right: 11.5px;
  margin-bottom: 0;
  vertical-align: middle;
}
li p {
  font-size: 18px;
  display: inline;
  vertical-align: middle;
}
