@import url("fonts.css");
@import url("reset.css");
main {
  width: 1169px;
  height: 518px;
  align-items: center;
}
h1 {
  color: #0e333d;
  font-family: DM Serif Text;
  font-size: 59px;
  line-height: 146.5%;
  margin-bottom: 25px;
  width: 526px;
}
h2 {
  color: #d06b00;
  font-family: Inter;
  font-size: 28px;
  margin-bottom: 13px;
}
p {
  color: #474747;
  font-family: Inter;
  font-size: 20px;
  line-height: 180%;
  width: 563px;
}
img {
  width: 273px;
  vertical-align: middle;
}
div {
  width: 563px;
  display: inline-block;
  margin-right: 38px;
  vertical-align: middle;
}
