@import url("fonts.css");
@import url("reset.css");
*{
    max-width: 692px;
}
header{
    margin-bottom: 42px;
}
p, li{
    color: #7D7D7D;
    font-family: Inter;
    font-size: 18px;
    line-height: 146.187%;
    text-align: justify;
    }
.handshake{
    margin-bottom: 24px;
}
.laptop{
    width: 331px;
}
h1{
    color: #37393F;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 127%;
    margin-bottom: 13px;
}
h2{
    color: #37393F;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 127%;
    margin-bottom: 15px;
}
h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 127%;
}
.violeth3{
    color: #6B77E5;
    margin-bottom: 16px;
}
.greenh3{
    color: #40DDB6;
    width: 332px;
    margin-bottom: 25px;
}
.content{
    margin-bottom: 40px;
}
.sub_content{
display: inline-block;
width: 332px;
margin-left: 23px;
}
li{
    margin-bottom: 35px;
}
