@import url("fonts.css");
@import url("reset.css");
body {
  font-size: 0;
  max-width: 1103px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: Cormorant Infant;
  font-weight: 700;
}
div {
  max-width: 503px;
  margin-right: 75px;
  display: inline-block;
  vertical-align: middle;
}
h1 {
  font-size: 64px;
  margin-bottom: 31px;
}
h2 {
  color: #d58417;
  font-size: 20px;
  margin-bottom: 27px;
}
p {
  color: #606060;
  font-size: 30px;
  line-height: 140%;
}
.img1 {
  width: 187px;
  vertical-align: middle;
  margin-right: 20px;
}
.img2 {
  width: 318px;
  vertical-align: middle;
}
